body {
  font-family: Microsoft JhengHei;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.05);
}

button:hover {
  transform: scale(1.05);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  outline: tomato;
}

.top-navbar {
  display: flex;
  justify-content: end;
  background-color: #f6f6f6;
  font-size: 16px;
  padding: 5px 10px;
}
.top-navbar__item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-top: 2px solid transparent;
}

.top-navbar__item + .top-navbar__item {
  border-left: 1px solid #ddd;
}
.top-navbar__item img {
  margin-right: 2px;
}

.facebook-link {
  color: #4460a0;
}

.twitter-link {
  color: #00aaec;
}

.lower-navbar {
  display: flex;
  flex-wrap: wrap;
}

h1 a {
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png");
  background-repeat: no-repeat;
  width: 224px;
  height: 50px;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.lower-navbar-menu {
  display: flex;
  margin-left: auto;
}

.lower-navbar-menu a {
  display: inline-block;
  color: #00cc99;
  border-bottom: 3px solid transparent;
  height: 50px;
  line-height: 50px;
  padding: 0px 8px;
  margin: 0 13px;
}

.lower-navbar-menu a:hover {
  border-bottom: 3px solid #00cc99;
}

.banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
  background-position: right center;
  height: 346px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.3);
  height: 160px;
  font-size: 36px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
  padding-left: 20px;
}
.banner-text p {
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.card-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px 0 50px 0;
}

.card {
  width: 280px;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card:hover {
  color: #00cc99;
  border: 1px solid #00cc99;
  box-shadow: 0px 1px 5px #00cc99;
}

.card li {
  list-style: disc inside;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.table-container {
  height: 388px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

caption {
  font-size: 30px;
  margin-bottom: 20px;
}

td,
th {
  width: 200px;
  height: 40px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  line-height: 40px;
}

th {
  text-align: left;
  font-weight: bold;
}

th:first-child {
  padding-left: 20px;
}

thead {
  background-color: #f7f7f7;
}

.green-text {
  color: #22b28e;
}

.form-container {
  background-image: linear-gradient(#00654c, #009771);
  padding-top: 40px;
}
.form-container h4 {
  font-weight: normal;
  color: white;
  font-size: 25px;
}
.form-container form {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.input-block {
  margin-left: 0;
  margin-top: 10px;
  position: relative;
  width: 300px;
}

.form-container textarea {
  height: 247px;
  min-width: 300px;
  flex: 1;
  resize: none;
}

.form-container input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 32px;

  margin-bottom: 16px;
}
.form-container label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.form-container button {
  width: 75px;
  height: 30px;
  background-color: #00cc99;
  color: white;
  margin-bottom: 16px;
  border: none;
  cursor: pointer;
  float: right;
}

footer {
  padding: 20px 20px 30px 24px;
}
footer p {
  margin-top: 12px;
}
footer span {
  color: #e12d80;
}

@media screen and (min-width: 576px) {
  .card-container {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .form-container form {
    height: 100%;
    display: flex;
    flex-flow: row;
    padding: 33px 30px;
  }
  .form-container textarea {
    flex-basis: 44%;
  }

  .input-block {
    margin-left: 40px;
    position: relative;
    flex-basis: 44%;
  }
  .form-container button {
    margin-bottom: 0px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer img {
    flex-basis: 200px;
  }
}
